table{
    border: solid #00008B;
}

table{
    
    background-color: #00008B;
}

th{
    background-color: #006400;
    color: #00FFFF;
    padding: 5px;
}

td{
    text-align: center;
    background-color: #6495ED;
    color: black;
    padding: 5px;
}
td#delete{
    color: black;
}

td#update{
    color: black;
}


a:link.delete{
    color: #006400;
    text-decoration: none;
}

a:link.update{
    color: #006400;
    text-decoration: none;
}

a:hover{
    font-weight: bold;
}

a:visited{
    color: black;
}

fieldset{
    width: 450px;
    border: solid #00008B;
    background-color: #6495ED;
}

legend{
    font-size: 150%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #00FFFF;
    background-color: #006400;
    padding-left: 10px;
    padding-right: 10px;
    width: 400px;
    
}

label.field{
    font-weight: bold;
    float: left;
    text-align: right;
    width: 150px;
    color: #00008B;
    padding: 1px;
}

input[type=text],
input[type=email],
input[type=number]
{
    width: 150px;
}

input.sumbit{width:25px;}
input.reset{width:25px;}

.center{
    text-align: center;
}

input[readonly] {background-color: gray}

body
{
    background-color: #B0C4DE;
}

.wrap
{
    color:#00008B;
	text-align:right;
	width: 95%;
	margin-top: 25px;
}

.header
{
	text-align: left;
	padding: 25px;
}

.headerImg
{
	float:left;
}

.headerText
{
	height:105px;
	padding-top:50px;
	padding-left:100px;
	float:left;
}

.main
{
	text-align: left;
	padding: 25px;
}

.footer
{
	text-align: left;
	padding: 25px;
}

.navcontainer { text-align:left; margin-left: 30px; }

 /*Fat Erik's Pipelist*/
 /* http://css.maxdesign.com.au/listamatic/horizontal32.htm */
 .navlist
 {
 list-style: none;
 padding: 0;
 margin: 0;
 }

 .navlist li
 {
 display: inline;
 padding: 0;
 margin: 0;
 }

 .navlist li:before { content: "| "; }
 .navlist li:first-child:before { content: ""; }

 /*IE workaround*/
 /*All IE browsers*/
 * html #navlist li
 {
 border-left: 1px solid black;
 padding: 0 0.4em 0 0.4em;
 margin: 0 0.4em 0 -0.4em;
 }

 /*Win IE browsers - hide from Mac IE\*/
 * html #navlist { height: 1%; }

 * html #navlist li
 {
 display: block;
 float: left;
 }
